.box{
    width:550px
}
.left{
    margin-right:80px
}
@media only screen and (min-width: 768px){
    .row{
        display:flex;
        margin:18px 0;
    }
       .right{
           margin:0;
       }
       .right{
           margin-top:10px;
       }
       label{
           display:inline-block;
           margin:5px 0 0;
          
       }
       .imput-field{
           width:280px;
       }
       input-field{
           width:340px;
       }
}
     